# Simulating a Real-World Phenomenon - Irish Discrimination Rates

Explain

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [29]:
# 2014 Ratio: https://www.cso.ie/en/releasesandpublications/er/q-eq/qnhsequalitymodulequarter32014/

total_disc_yes = 0.12

# Of 12% Yes
M = 630
F = 1069
T = M + F

# Estimate Total Survey Size
total_survey = int(round(T / 0.12))
print("Estimated Total Survey Size: ", total_survey)


M_Y = (M/total_survey)
F_Y = (F/total_survey)

M_R = (M/total_survey)*100
F_R = (F/total_survey)*100

print("Percentage of Males who felt discriminated against: ", M_R)
print("Percentage of Females who felt discriminated against: ",F_R)

Estimated Total Survey Size:  14158
Percentage of Males who felt discriminated against:  4.449781042520129
Percentage of Females who felt discriminated against:  7.550501483260348

In [38]:
# Uniform distribution to Generate 1000 People
# Male = 0 ; Female = 1

sex_x = ['Male', 'Female']
disc_x = ['M_Y', 'F_Y', 'M_N', 'F_N']

# Assume 50% Males and 50% Females
M_N = 0.5 - M_Y
F_N = 0.5 - F_Y

# Build Dataframe
sex = np.random.choice(sex_x, total_survey, p=[0.5, 0.5])
disc = np.random.choice(disc_x, total_survey, p=[M_Y, F_Y, M_N, F_N])

df=pd.DataFrame(data={'Sex': sex, 'Discriminated Against': disc})
df ['Discriminated Against'].replace({'M_Y':'Yes', 'M_N':'No', 'F_Y':'Yes', 'F_N':'No'}, inplace=True)


df.head(10)

  Discriminated Against     Sex
0                    No  Female
1                    No  Female
2                    No  Female
3                    No  Female
4                   Yes    Male
5                    No  Female
6                    No  Female
7                    No    Male
8                    No    Male
9                    No    Male

In [ ]:
discrim_type = ['Gender', 'Marital Status', 'Family Status', 'Age', 'Disability', 'Race', 'Other']